$color-white: white;
$google-color: #4885ed;
$background-color: #aee0c5;
$background: #42413d;
$pear-color: #aca81b;
$olive-green: #888551;
$dandelion-color: rgb(255, 206, 43);

$fa-font-path: '~font-awesome/fonts';
$primary-color: #b1d639;
$primary-color-hover: #abc50c;
