@charset "utf-8";
/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~bourbon/core/bourbon';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

body {
  padding-top: 5rem;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

gs-root:empty + .sk-cube-grid {
  opacity: 1;
  z-index: 100;
}

.navbar {
  border-bottom: 3px solid #e7e7e7;
}

.navbar-light {
  .navbar-brand {
    color: $primary-color;
    &:focus,
    &:hover {
      color: $primary-color-hover;
    }
  }
}

.list-group-item {
  &.active {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
  }
  &.disabled,
  &:disabled {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.form-control:focus {
  border-color: $primary-color;
}

.g-item {
  flex-grow: 1;
  text-align: center;
}

.g-padding {
  padding: 1.5%;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: $primary-color;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
